button {
    border: none;
    background: none;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 0 20px;
    color: white;
    background-color: #d33939;
    cursor: pointer;
    transition: 1s;
}

button:hover{
    background-color: #d33939b2;
}